<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <NavLink href="/" class="navbar-brand">Event Manager</NavLink>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
      <span class="navbar-toggler-icon" />
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="navbar-nav ml-auto">
        <NavLink href="/portfolio" class="nav-item nav-link">Portfolio</NavLink>
        <NavLink href="/about" class="nav-item nav-link">About</NavLink>
        <NavLink href="/contact" class="nav-item nav-link">Contact</NavLink>
      </div>
    </div>
  </nav>